/*navbar*/
#navbar {
	background-color: #8D7B68;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

#navbar {
	display: flex;
	justify-content: space-between;
}

h1 {
	color: #FFFFFF;
}

#rechtsKnop {
	padding: 8px 16px;
	background: none;
	border: none;
	color: #ffffff;
	cursor: pointer;
}

#rechtsKnop:hover {
	color: #C8B6A6;
}

#navbarRechts {
	display: flex;
	align-items: center;
	margin-right: 2rem;
}

#navbarLinks {
	display: flex;
	align-items: center;
	margin-left: 2rem;
}

/*overzicht pagina*/
#biebWrapper {
	background-color: beige;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	color: brown;
}

#overzichtWrapper {
	padding: 0 10rem 0 10rem;
	padding-top: 2rem;
	margin-bottom: 1.5rem;
}

#overzichtWrapper {
	background-color: beige;
}

#boekWrapper {
	display: flex;
	flex-wrap: wrap;
}

#boekContainer {
	background-color: beige;
	border: 1px solid brown;
}

#boek {
	flex: 0 0 calc(16.666% - 20px);
	margin: 10px;
	text-align: center;
}

#boekImg {
	max-width: 100%;
  	max-height: 100%;
}

#imgPart {
	width: 100%;
	height: 250px;
	background-color: lightgray;
	margin-bottom: 10px;
}
#boekContainer p {
  margin: 0;
}
@media screen and (max-width: 768px) {
	#boek {
		flex: 0 0 calc(33.333% - 20px);
	}
}

@media screen and (max-width: 480px) {
	#boek {
		flex: 0 0 calc(50% - 20px);
	}
}