<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/navbarStyle.css}" />
<link rel="stylesheet" th:href="@{/css/boekDetailStyle.css}" />

<title>Boek Detailpagina</title>
</head>
<body>
	<div id="biebWrapper">
		<div th:insert="~{utils :: navbar}"></div>
		<div id="detailContainer">

			<div id="detailWrapper">
				<div id="titleEnButton">
					<div id="titleLinks">
						<h3>Boek Detailpagina</h3>
					</div>
					<div id="favoriteButton">
						<button id="flexButton" type="button">Toevoegen aan
							favorieten</button>
					</div>
				</div>
				<div id="boekDetail">

					<div id="imgPart">
						<img id="boekImg" th:alt="${boek.naam}" th:src="${boek.img}">
					</div>
					<div id="boekInfo">
						<p th:text="|Naam: ${boek.naam}|"></p>
						<p>auteur(s):</p>
						<div id="auteur" th:each="auteur:${boek.auteurs}">
							
							<p id="auteurnaam" th:text="|&emsp;&emsp;&emsp;&emsp;${auteur.auteurNaam}|"></p>
						</div>
						<p th:text="|ISBN nummer: ${boek.ISBNnummer}|"></p>
						<p th:text="|Aankoopprijs: €${boek.aankoopPrijs}|"></p>
						<p th:text="|Aantal keer favoriet: ${boek.aantalsterren}|"></p>
						<p>locatie:</p>
						<div id="locatie" th:each="locatie, iStat: ${boek.locaties}">
							<p
								th:text="|&emsp;&emsp;&emsp;&emsp;locatie ${iStat.count}: plaatscode1: ${locatie.plaatscode1} 
							plaatscode2: ${locatie.plaatscode2} plaatsnaam: ${locatie.plaatsnaam}|"></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>