<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/boekDetailStyle.css}" />
</head>
<body onload='document.loginForm.username.focus();'>

	<div id="boekDetailContainer">
		<div id="boekDetailWrapper">
			<div id="boekFoto">
			
			
			</div>

			<div id="boekInformatieTable">
				<ul>
					<li>Naam</li>
					<li>Auteurs</li>
					<li>ISBN nummer</li>
					<li>Aankoopprijs (in euro, wordt geformateerd 2 cijfers na de komma)</li>
					<li>Aantal sterren</li>
					<li>locatie(s)</li>
				</ul>

			</div>
		</div>
	</div>

</body>
</html>