<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/navbarStyle.css}" />
<link rel="stylesheet" th:href="@{/css/overzichtStyle.css}" />
<script src="https://kit.fontawesome.com/yourcode.js"
	crossorigin="anonymous"></script>

<title>Bibliotheek</title>
</head>
<body>
	<div id="biebWrapper">
		<div th:insert="~{utils :: navbar}"></div>
		<div id="overzichtContainer">
			<div id="overzichtWrapper">
				<div id="buttonTitle">
					<div id="titleLinks">
						<h3>Boeken overzicht</h3>
					</div>
					<div id="buttonRechts">
						<th:block
							th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
							<a id="rechtsKnop" th:href="@{/toevoegenBoek}"> Toevoegen
								boek</a>
						</th:block>
					</div>
				</div>
				<div id="boekWrapper">

					<div id="boek" th:each="boek: ${boekList}">
						<a th:href="|/boekdetail/${boek.ISBNnummer}|">
							<div id="boekContainer">
								<div id="imgPart">
									<img id="boekImg" th:alt="${boek.naam}" th:src="${boek.img}">
								</div>
								<p th:text="${boek.naam}"></p>
								<br>
								<div id="auteur" th:each="auteur:${boek.auteurs}">
									<p id="auteurnaam" th:text="${auteur.auteurNaam}"></p>
								</div>

							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>